.app {
  padding: 80px;
  background-color: floralwhite;
}
.app h1 {
  font-size: 48px;
  margin: 20px 0px;
}

.TodoApp label {
  cursor: pointer;
  user-select: none;
}

.todo-input-group {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.todo-input-group label {
  margin-bottom: 0;
}
.todo-input-group button,
.todo-input-group input {
  margin: 0px 10px;
}
.app input[type='checkbox'] {
  width: 40px;
}

.find-todo label {
  margin-right: 10px;
}

.loading {
  margin-left: 10px;
}

.todos-list {
  list-style: none;
}

.todos-list li {
  margin: 10px 0;
  font-size: 20px;
}

.completed-todo {
  text-decoration: line-through;
}

.todo-actions {
  margin-left: 30px;
}
.todo-actions .edit-todo {
  color: #2323b1;
}
.todo-actions .delete-todo {
  color: #d44f4f;
}
.todo-actions svg {
  margin-left: 10px;
  cursor: pointer;
  font-size: 24px;
}

.todo-container {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.todo-container label {
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.save-btn {
  margin-top: 20px;
  float: right;
}
